.wrap
  .bg
    .cloud
      img(src="https://i.imgur.com/8b3Iq5h.png", alt="")
      img(src="https://i.imgur.com/8b3Iq5h.png", alt="")
    .start
      img(src="https://i.imgur.com/rEdy5Ts.png", alt="")
      img(src="https://i.imgur.com/rEdy5Ts.png", alt="")
  .men
    img(src="https://i.imgur.com/3hBXvDK.png", alt="")
    .menfire
      img(src="https://i.imgur.com/E3hG9SC.png", alt="")
  .women
    img(src="https://i.imgur.com/jcLrbp1.png", alt="")
    .womenfire
      img(src="https://i.imgur.com/E3hG9SC.png", alt="")